{block topButton}
    {if $user->loggedIn}
        <a n:href="Homepage:" class="btn btn-secondary">Zpět</a>
    {/if}
{/block}

{block content}
    {control breadcrumbs}

    <h1 n:block=title>Přidat článek</h1>
    {**control articleAddForm**}

    {import '../components/form.latte'}
    {include form articleAddForm}