{block breadcrumbs}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{plink Homepage:}">Úvod</a></li>
        <li class="breadcrumb-item active" aria-current="page">test</li>
    </ol>
</nav>
{/block}